body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: #afafaf;
    color: #FF5F00;
    text-align: center;
}

nav {
    padding-top: 50px;
    margin-bottom: 50px;
}

nav a {
    border: 2px solid #afafaf;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
    background-color: #0082D1;
    color: white;
    font-weight: bold;
}

nav a:hover {
    background-color: #afafaf;
    color: #FF5F00;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse; 
    padding: .5em;
}

thead {
    background-color: #76B900;
    color: white;
}

tbody tr:nth-child(odd) {
    background-color: lightgray;
} 

tbody tr:hover {
    background-color: yellow;
}
